<main id="main" class="main">
    <p>startups works!</p>
    <!-- llllllllljkhkjhkjhgjgjhghjghjsgcghcsgdhcjdgcjh -->
    <div class="col">
        <div class="row">


            <div class="col-xxl-4 col-md-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Startups <span> Total </span></h5>
                        <div class="d-flex align-items-center dashco">
                            <div class="card-icon rounded d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="ps-3">
                                <h6>totalObtnu</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xxl-4 col-md-4">
                <div class="card info-card revenue-card">

                    <div class="card-body">
                        <h5 class="card-title">Startups <span>Encours</span></h5>
                        <div class="d-flex align-items-center dashco">
                            <div class="card-icon rounded d-flex align-items-center justify-content-center">
                                <i class="bi bi-building"></i>
                            </div>
                            <div class="ps-3 text-center">
                                <h6>totalStartups</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-md-4">
                <div class="card info-card revenue-card">

                    <div class="card-body">
                        <h5 class="card-title">Total <span> Valider</span></h5>
                        <div class="d-flex align-items-center dashco">
                            <div class="card-icon rounded d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>totalInvestisseurs</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- uhefuehfkushckjhsdkjchsdkjhckjsdhksdjhksdjhksdjsdksd -->
    <div class="container-fluid pt-4 px-4" style="margin-left: -2.2%; width: 104%">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <h6 class="mb-0 py-1 text-center">La liste des comptes Startups</h6>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="header_fixed">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom Startups</th>
                                    <th>Propriétaire</th>
                                    <th>Numero d'identification</th>
                                    <th>Chiffre d'affaire</th>
                                    <th>Adresse</th>
                                    <th>Status</th>
                                    <th></th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody *ngFor="let start of allStart| paginate:{itemsPerPage: 7, currentPage: p}
                            |filter:searhText; let i = index">
                                <tr>
                                    <!-- | paginate : { itemsPerPage: 5, currentPage: p } -->
                                    <td><img src="{{start.photo}}" alt="" /></td>
                                    <td>{{start.nomStartups}}</td>
                                    <td>{{start.proprietaire}}</td>
                                    <td>{{start.numeroIdentification}}</td>
                                    <td>{{start.chiffreAffaire}}</td>
                                    <td>{{start.formeJuridique}}</td>
                                    <td><span [ngClass]="start.status== 'VALIDER' ? 'vert': 'rej'">{{start.status}}</span></td>
                                    <td>

                                        <button [routerLink]="['/principal/user-profile',start.idUsers]" class="btn">details</button>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                        <div class="pag">
                            <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
                              [responsive]="responsive"></pagination-controls>
                          </div>
                    </div>
                </div>
                <!-- <div class="pagm">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div> -->

            </div>
        </div>
    </div>

</main>