<main id="main" class="main">
    
    <!-- llllllllljkhkjhkjhgjgjhghjghjsgcghcsgdhcjdgcjh -->
    
    <!-- uhefuehfkushckjhsdkjchsdkjhckjsdhksdjhksdjhksdjsdksd -->
    <div class="container-fluid pt-4 px-4" style="margin-left: -2.2%; width: 104%">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <h6 class="mb-0 py-1 text-center">La liste des comptes Startups</h6>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="header_fixed">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom Startups</th>
                                    <th>Propriétaire</th>
                                    <th>Contact</th>
                                    <th>Chiffre d'affaire</th>
                                    <th>Adresse</th>
                                    <th>Status</th>
                                    <th></th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody *ngFor="let start of allStart| paginate:{itemsPerPage: 7, currentPage: p}
                            |filter:searhText; let i = index">
                                <tr>
                                    <!-- | paginate : { itemsPerPage: 5, currentPage: p } -->
                                    <td><img src="{{start.photo}}" alt="" /></td>
                                    <td>{{start.nomStartups}}</td>
                                    <td>{{start.proprietaire}}</td>
                                    <td>{{start.contact}}</td>
                                    <td>{{start.chiffreAffaire}}</td>
                                    <td>{{start.formeJuridique}}</td>
                                    <td><span [ngClass]="start.status== 'VALIDER' ? 'vert': 'rej'">{{start.status}}</span></td>
                                    <td>

                                        <button [routerLink]="['/principal/user-profile',start.idUsers]" class="btn">details</button>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                        <div class="pag">
                            <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
                              [responsive]="responsive"></pagination-controls>
                          </div>
                    </div>
                </div>
                <!-- <div class="pagm">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div> -->

            </div>
        </div>
    </div>

</main>