<main id="main" class="main">
   <div class="pagetitle">
      <h1>information du Compte</h1>
      <!-- <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
         </ol>
      </nav> -->
   </div>
   <section class="section profile">
      <div class="row">
         <div class="col-xl-4">
            <div class="card">
               <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                  <h2>Jassa</h2>
                  <h3>Startups</h3>
                  <!-- <div class="social-links mt-2"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a
                        href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#" class="instagram"><i
                           class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i
                           class="bi bi-linkedin"></i></a>
                  </div> -->
               </div>
            </div>
         </div>
         <div class="col-xl-8">
            <div class="card">
               <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                     <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab"
                           data-bs-target="#profile-overview">Overview</button></li>
                     <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab"
                           data-bs-target="#profile-edit">Edit Profile</button></li>
                     <!-- <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button></li> -->
                  </ul>
                  <div class="tab-content pt-2">
                     <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title">Description de la Startup</h5>
                        <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque
                           temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae
                           quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
                        <h5 class="card-title">Information du Compte Startup</h5>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label ">Pseudo</div>
                           <div class="col-lg-9 col-md-8">Jassa</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Email</div>
                           <div class="col-lg-9 col-md-8">Therichpost</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Password</div>
                           <div class="col-lg-9 col-md-8">Web Designer</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Contact</div>
                           <div class="col-lg-9 col-md-8">Ludhiana, Punjab, India</div>
                        </div>

                        <h5 class="card-title">Information de la Startup</h5>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label ">Nom de Startup</div>
                           <div class="col-lg-9 col-md-8">Jassa</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Secteur d'activité</div>
                           <div class="col-lg-9 col-md-8">Therichpost</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Stade de developpement</div>
                           <div class="col-lg-9 col-md-8">Web Designer</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Numero d'identification</div>
                           <div class="col-lg-9 col-md-8">Ludhiana, Punjab, India</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Date de création</div>
                           <div class="col-lg-9 col-md-8">Therichpost</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Proprietaire</div>
                           <div class="col-lg-9 col-md-8">Web Designer</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Forme juridique</div>
                           <div class="col-lg-9 col-md-8">Ludhiana, Punjab, India</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Chiffre d'affaire</div>
                           <div class="col-lg-9 col-md-8">Ludhiana, Punjab, India</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Localisation</div>
                           <div class="col-lg-9 col-md-8">Ludhiana, Punjab, India</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Pays</div>
                           <div class="col-lg-9 col-md-8">Ludhiana, Punjab, India</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Status</div>
                           <div class="col-lg-9 col-md-8">ENCOURS</div>
                        </div>
                     </div>

                     <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <form>
                           <div class="row mb-3">
                              <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Photo de profile</label>
                              <div class="col-md-8 col-lg-9">
                                 <img src="assets/img/profile-img.jpg" alt="Profile">
                                 <div class="pt-2">
                                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i
                                          class="bi bi-upload"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image">
                                       <i class="bi bi-trash"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom Complet</label>
                              <div class="col-md-8 col-lg-9"> <input name="fullName" type="text" class="form-control"
                                    id="fullName" value="Jassa"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Description de la Startup" class="col-md-4 col-lg-3 col-form-label">Description de la Startup</label>
                              <div class="col-md-8 col-lg-9"><textarea name="Description de la Startup" class="form-control" id="Description de la Startup"
                                    style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                              </div>
                           </div>
                           <div class="row mb-3">
                              <label for="company" class="col-md-4 col-lg-3 col-form-label">Pseudo</label>
                              <div class="col-md-8 col-lg-9"> <input name="company" type="text" class="form-control"
                                    id="company" value="Therichpost"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Adresse" class="col-md-4 col-lg-3 col-form-label">Adresse</label>
                              <div class="col-md-8 col-lg-9"> <input name="Adresse" type="Adresse" class="form-control"
                                    id="Adresse" value="Web Designer"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Country" class="col-md-4 col-lg-3 col-form-label">Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="country" type="text" class="form-control"
                                    id="Country" value="USA"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Contact" class="col-md-4 col-lg-3 col-form-label">Contact</label>
                              <div class="col-md-8 col-lg-9"> <input name="Contact" type="text" class="form-control"
                                    id="Contact" value="Ludhiana, Punjab, India"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                              <div class="col-md-8 col-lg-9"> <input name="phone" type="text" class="form-control"
                                    id="phone" value="(436) 486-3538 x29071"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                              <div class="col-md-8 col-lg-9"> <input name="email" type="email" class="form-control"
                                    id="email" value="k.anderson@example.com"></div>
                           </div>


                           <div class="row mb-3">
                              <label for="Nom de Startup" class="col-md-4 col-lg-3 col-form-label">Nom de Startup</label>
                              <div class="col-md-8 col-lg-9"> <input name="nomStartup" type="text" class="form-control"
                                    id="Nom de Startup" value="Therichpost"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Job" class="col-md-4 col-lg-3 col-form-label">Secteur d'activité</label>
                              <div class="col-md-8 col-lg-9"> <input name="Secteurd'activité" type="text" class="form-control"
                                    id="Job" value="Web Designer"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Stade de developpement" class="col-md-4 col-lg-3 col-form-label">Stade de developpement</label>
                              <div class="col-md-8 col-lg-9"> <input name="Stade de developpementy" type="text" class="form-control"
                                    id="Stade de developpement" value="USA"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="numero d'identification" class="col-md-4 col-lg-3 col-form-label">numero d'identification</label>
                              <div class="col-md-8 col-lg-9"> <input name="numero d'identification" type="text" class="form-control"
                                    id="numero d'identification" value="Ludhiana, Punjab, India"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Date de création" class="col-md-4 col-lg-3 col-form-label">Date de création</label>
                              <div class="col-md-8 col-lg-9"> <input name="Date de création" type="text" class="form-control"
                                    id="Date de création" value="(436) 486-3538 x29071"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Proprietaire" class="col-md-4 col-lg-3 col-form-label">Proprietaire</label>
                              <div class="col-md-8 col-lg-9"> <input name="Proprietaire" type="Proprietaire" class="form-control"
                                    id="Proprietaire" value="k.anderson@example.com"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Forme juridique" class="col-md-4 col-lg-3 col-form-label">Forme juridique</label>
                              <div class="col-md-8 col-lg-9"> <input name="Forme juridique" type="Forme juridique" class="form-control"
                                    id="Forme juridique" value="k.anderson@example.com"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Chiffre d'affaire" class="col-md-4 col-lg-3 col-form-label">Chiffre d'affaire</label>
                              <div class="col-md-8 col-lg-9"> <input name="Chiffre d'affaire" type="Chiffre d'affaire" class="form-control"
                                    id="Chiffre d'affaire" value="k.anderson@example.com"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Localisation" class="col-md-4 col-lg-3 col-form-label">Localisation</label>
                              <div class="col-md-8 col-lg-9"> <input name="email" type="Localisation" class="form-control"
                                    id="Localisation" value="k.anderson@example.com"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="Pays" class="col-md-4 col-lg-3 col-form-label">Pays</label>
                              <div class="col-md-8 col-lg-9"> <input name="Pays" type="email" class="form-control"
                                    id="Pays" value="k.anderson@example.com"></div>
                           </div>
                           <div class="text-center"> <button type="submit" class="btn btn-primary">Save Changes</button>
                           </div>
                        </form>
                     </div>

                     <!-- <div class="tab-pane fade pt-3" id="profile-change-password">
                         <form>
                            <div class="row mb-3">
                               <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                               <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                            </div>
                            <div class="row mb-3">
                               <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                               <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                            </div>
                            <div class="row mb-3">
                               <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                               <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
                            </div>
                            <div class="text-center"> <button type="submit" class="btn btn-primary">Change Password</button></div>
                         </form>
                      </div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>