<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col">
            <div class="row">


               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Total <span> Collecter </span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-currency-dollar"></i>
                           </div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span
                                 class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card revenue-card">

                     <div class="card-body">
                        <h5 class="card-title">Total <span>Startups</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-building"></i>
                           </div>
                           <div class="ps-3">
                              <h6>$3,264</h6>
                              <!-- <span class="text-success small pt-1 fw-bold">8%</span> -->
                              <span class="text-muted small pt-2 ps-1">Valider</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card revenue-card">

                     <div class="card-body">
                        <h5 class="card-title">Total <span> Investisseurs</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-people"></i>
                           </div>
                           <div class="ps-3">
                              <h6>$3,264</h6>
                              <span class="text-success small pt-1 fw-bold">8%</span> <span
                                 class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="col-xxl-4 col-xl-4">
                  <div class="card info-card customers-card">
                     <div class="card-body">
                        <h5 class="card-title">Total <span> Projets</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-card-heading"></i>
                           </div>
                           <div class="ps-3">
                              <h6>1244</h6>
                              <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                 class="text-muted small pt-2 ps-1">decrease</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-xl-4">
                  <div class="card info-card customers-card">

                     <div class="card-body">
                        <h5 class="card-title">Total <span>Investissement</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-cash-coin"></i>
                           </div>
                           <div class="ps-3">
                              <h6>1244</h6>
                              <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                 class="text-muted small pt-2 ps-1">decrease</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-xl-4">
                  <div class="card info-card customers-card">

                     <div class="card-body">
                        <h5 class="card-title">Total <span> Donation</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-gift"></i>
                           </div>
                           <div class="ps-3">
                              <h6>1244</h6>
                              <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                 class="text-muted small pt-2 ps-1">decrease</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


               <!-- PAS TOUCHE -->
               <div class="col-12">
                  <div class="card top-selling overflow-auto">
                     <div class="filter">
                        <button class="btn btn-primary mx-3">Ajouter</button>
                     </div>
                     <div class="card-body pb-0">
                        <h5 class="card-title">Type de projets</h5>
                        <table class="table table-borderless">
                           <thead>
                              <tr>
                                 <th scope="col">Id</th>
                                 <th scope="col">Nom</th>
                                 <th scope="col">Description</th>
                                 <th scope="col">Nombre d'investisseurs</th>
                                 <th scope="col"></th>
                                 <th scope="col"></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                                 <td>Agriculture</td>
                                 <td><span>ueihdiueehiuehfziehfie fh f fze fzhe fhzeifhi fue hfizu hf hihzih izeh
                                    </span></td>
                                 <td class="fw-bold">124</td>
                                 <td><button class="btn btn-warning btn-sm">modifier</button></td>
                                 <td><button class="btn btn-danger btn-sm">supprimer</button></td>
                              </tr>
                              <tr>
                                 <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                                 <td>Education</td>
                                 <td><span>ueihdiueehiuehfziehfie fh f fze fzhe fhzeifhi fue hfizu hf hihzih izeh
                                    </span></td>
                                 <td class="fw-bold">124</td>
                                 <td><button class="btn btn-warning btn-sm">modifier</button></td>
                                 <td><button class="btn btn-danger btn-sm">supprimer</button></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <!-- PAS TOUCHE -->
            </div>
         </div>
      </div>
   </section>
</main>