<main id="main" class="main">
    <!-- <div class="row">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let start of projets| paginate:{itemsPerPage: 8, currentPage: p}
        |filter:searhText; let i = index ">
            <div class="card mb-3">
                <img src="{{start.image}}" alt="Image quiz" class="card-img-top">
                <div class="card-body">
                    <h2 class="h3 card-title text-center p-1">{{start.nomprojets}}</h2>
                    <p class="card-text">
                        {{start.description}}
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-center quizDate p-1"><i class="bi bi-calendar2-week"></i> </p>
                        </div>
                        <div class="col-6">
                            <p class="text-center quizHeure p-1"><i class="bi bi-stopwatch"></i></p>
                        </div>
                    </div>
                    <p class="titleQuestion text-light text-center p-1"></p>
                    <div class="d-flex">
                        <button>détails</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="pag">
            <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
                [responsive]="responsive">
            </pagination-controls>
        </div>

    </div> -->
    <!-- llllllllllllllllllllllllllll -->
<div class="container">
    <div class="row">
        <div class="card cardprojets" *ngFor="let projets of projets| paginate:{itemsPerPage: 3, currentPage: p}
        |filter:searhText; let i = index">
            <img src="{{projets.image}}" class="imageproj" alt="" srcset="">
            <div class="d-flex  align-items-center mt-1 ms-2">
                <div class="phtprojet">
                    <img src="{{projets.startups.photo}}" class="logcv" alt="" srcset="">
                </div>
                <div class="ms-2 nomstartp">{{projets.startups.nomStartups}}</div>
            </div>
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class=""><i name="folder-open-outline"></i>{{projets.nomprojets}}</div>
                    <div class="etatss">{{projets.statProjets}}</div>
                </div>
                <!-- <div class="nomprj">{{projets.objectif}}</div> -->
            </div>

            <div class="descript">
                <!-- {{projets.description}} -->
                <hr class="border-primary">
                <div class="detailsfin">
                    <div class="d-flex justify-content-between">
                        <p>Objectifs :</p>
                        <p>{{projets.budgetPrevisonnel}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Collecté :</p>
                        <p>{{projets.soldeprojet}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Action_restante :</p>
                        <p>{{projets.action_restante}}</p>
                    </div>
                    <hr class="border-primary">
                    <div class="d-flex justify-content-between">
                        <p>Action Total vendu :</p>
                        <p>{{projets.actiontotalVendu}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Pret Total :</p>
                        <p>{{projets.prettotalobtenu}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Donation Total :</p>
                        <p>{{projets.donationtotalobtenu}}</p>
                    </div>
                </div>
                <div class="text-center mt-2 mb-2">
                    <!-- <button type="button" class="btn btn-primary boutn">details</button> -->
                    <!-- <button type="button" routerLink="/detailprojet/{{projets.idprojet}}" class="btn btn-primary boutn">details</button> -->
                </div>

            </div>

        </div>
        
    </div>
    <div class="pag">
        <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
            [responsive]="responsive">
        </pagination-controls>
    </div>
</div>

    <!-- jgjgjjjjjjjjjjjjjjjjjjjjjjjj -->
</main>