<main id="main" class="main">


    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/assets/gif/photo11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Card title</h5>
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <button routerLink="/principal/detailprojet" class="btn btn-primary">detailsii</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>