<main id="main" class="main">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let start of projets| paginate:{itemsPerPage: 8, currentPage: p}
        |filter:searhText; let i = index ">
            <div class="card mb-3">
                <img src="{{start.image}}" alt="Image quiz" class="card-img-top">
                <div class="card-body">
                    <h2 class="h3 card-title text-center p-1">{{start.nomprojets}}</h2>
                    <p class="card-text">
                        {{start.description}}
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-center quizDate p-1"><i class="bi bi-calendar2-week"></i> </p>
                        </div>
                        <div class="col-6">
                            <p class="text-center quizHeure p-1"><i class="bi bi-stopwatch"></i></p>
                        </div>
                    </div>
                    <p class="titleQuestion text-light text-center p-1"></p>
                    <div class="d-flex">
                        <button>détails</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="pag">
            <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
                [responsive]="responsive">
            </pagination-controls>
        </div>

    </div>
</main>