<main id="main" class="main">
    <p>Investisseurs works!</p>
    <div class="container-fluid pt-4 px-4" style="margin-left: -2.2%; width: 104%">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light text-center rounded p-4">
                    <h6 class="mb-0 py-1">La liste des utilisateurs</h6>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="header_fixed py-2">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Username</th>
                                        <th>Nom complet</th>
                                        <th>Numero</th>
                                        <th>Email</th>
                                        <th>Adresse</th>
                                        <th>Total Investissement</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let inv of allinv">
                                    <tr>
                                        <!-- | paginate : { itemsPerPage: 5, currentPage: p } -->
                                        <td><img src="{{inv.photo}}" alt="" /></td>
                                        <td>{{inv.username}}</td>
                                        <td>{{inv.nomcomplet}}</td>
                                        <td>{{inv.telephone}}</td>
                                        <td>{{inv.email}}</td>
                                        <td>{{inv.adresse}}</td>
                                        <td>{{inv.totalInvestissement}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="pagm">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div> -->

                </div>
            </div>
        </div>
    </div>

</main>


