<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/principal/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/principal/Startups"> <i class="bi bi-file-earmark"></i> <span>Startups</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/principal/Investissements"> <i class="bi bi-box-arrow-in-right"></i> <span>Investissements</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/principal/Investisseurs"> <i class="bi bi-dash-circle"></i> <span>Investisseurs</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/principal/projets"> <i class="bi bi-file-earmark"></i> <span>projets</span> </a></li>
    </ul>
 </aside>