<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link" routerLinkActive="dash" routerLink="/principal/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link" routerLinkActive="dash" routerLink="/principal/Startups"> <i class="bi bi-file-earmark"></i> <span>Startups</span> </a></li>
       <li class="nav-item"> <a class="nav-link" routerLinkActive="dash" routerLink="/principal/Investissements"> <i class="bi bi-box-arrow-in-right"></i> <span>Investissements</span> </a></li>
       <li class="nav-item"> <a class="nav-link" routerLinkActive="dash" routerLink="/principal/Investisseurs"> <i class="bi bi-dash-circle"></i> <span>Investisseurs</span> </a></li>
       <li class="nav-item"> <a class="nav-link" routerLinkActive="dash" routerLink="/principal/projets"> <i class="bi bi-file-earmark"></i> <span>projets</span> </a></li>
    </ul>
    <ul class="sidebar-nav deccc" id="sidebar-nav">
      <li class="nav-item text-center"> <a class="nav-link1" type="button" (click)="logout()"> <i class="bi bi-box-arrow-left"></i>&nbsp;&nbsp; <span>Deconnexion</span> </a></li>
    </ul>
    
 </aside>